@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    color: white;
    background-color: #0d1117;
}

.container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 20%;
}

.awnserContainer {
    background-color: #240090;
    width: 360px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

.awnserContainer p {
    text-align: center;
    margin-top: 20px;
}

.wrapper {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #161b22;
    padding: 34px;
    border-radius: 4px;
    box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.87);
    bottom: 60px;
    animation: SecondSlide_Up 1.8s ease;
    border: solid 2px #1b2026;
}

.wrapper h2 {
    position: relative;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}

.wrapper h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 82px;
    border-radius: 12px;
    background: #240090;
}

.wrapper form {
    margin-top: 30px;
}

.wrapper form .input-box {
    height: 52px;
    margin: 18px 0;
}

form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #240090;
}

form .policy {
    display: flex;
    align-items: center;
}

form h3 {
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.input-box.button input {
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #240090;
    cursor: pointer;
}

.input-box.button input:hover {
    background: #0e4bf1;
}

form .text h3 {
    color: #333;
    width: 100%;
    text-align: center;
}

form .text h3 a {
    color: #4070f4;
    text-decoration: none;
}

form .text h3 a:hover {
    text-decoration: underline;
}

.goBack-Btn {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    text-align: center;
    max-width: 430px;
    width: 100%;
    background: #282828;
    padding: 34px;
    border-radius: 4px;
    box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.87);
}

.middelStuk {
    display: flex;
    width: 100%;
    min-height: 320px;
    background-color: #0d1117;

    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}


/* logo container en img met text  */
.logoContainer {
    display: flex;
    width: 100%;
    height: 225px;
    background-color: #161b22;
    font-family: 'Lato', sans-serif;
    border: 1.5px solid #1c2128;

    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.logoContainer img {
    width: 256px;
    height: 100px;
}

/* magazijnmedewerker css */
.tabelContainer {
    display: flex;
    width: 850px;
    min-height: 200px;
    border-radius: 5px;
    border: 1.5px solid #1c2128;
    background-color: #161b22;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: center;
    justify-content: space-around;
}

.buttonContainer {
    display: flex;
}

.textContainer {
    display: flex;
    width: 500px;
    height: 100px;
    border: 2px solid #1c2128;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    border-radius: 5px;
    justify-content: center;
    flex-direction: column;
}